@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
.header{
    display: flex;
    margin-top: 1rem;
}
.heading{
    width: 50%;
    margin-left: 2rem;
}
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}

.nav-list{
    width: 50%;
    background-color: rgb(43, 43, 43);
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    transition: all 1s ease;
    font-size: 1.3rem;
    z-index: 999;

}

.closeBtn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: white;
    font-size: 1.5rem;
}
.nav-items{
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
}
.nav-items>a{
    display: block;
    color: rgb(255, 0, 0);
    text-decoration: none;
    border-radius: 6px;
}
.nav-items>a:hover{
    background-color: rgb(85, 85, 85);
}

.navbar .nav-list{
    position: fixed;
    display: block;
    height: 100vh;
    width: 100%;
    left: -100%;
    max-width: 400px;
    top: 0px;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 1.3s ease;
    }
    .nav-items > a{
        color: rgb(221, 214, 214);
        display: block;
    }
    .nav-items > a:hover{
        color:rgb(241, 8, 8);
    }
    .nav-items .active >a{
        color:rgb(243, 12, 12);
    }
    .wid{
        width: 90%;
    }
    @media screen and (max-width:992px) and (min-width:768px) {
        .wid{
            width: 85%;
        }
    }
// COVID
.card-design{
    border-radius: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all .8s;
    width: 40%;
     height:9rem;
}
.card-design:hover{
    transform:scale(1.1);
}
    .card-modify{
        justify-content: space-between;
    }

.country{
    background-color: rgb(251, 255, 0);
}
.active{
    background-color: rgb(26, 219, 26);
}
.deaths{
    background-color: red;
}
.recovered{
    background-color: rgb(55, 55, 177);
}
.covid-bg{
    height: 100vh;
    width: 100vw;
    background-color: rgb(138, 121, 121);
    }

    @media  screen and (max-width:768px) {
        .covid-bg{
            height: 100%;
            }
        
    }



